<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Html</title>
<link href="css/style.css" type="text/css" rel="stylesheet">
<link href="fonts/stylesheet.css" type="text/css" rel="stylesheet">
<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="fonts/font-awesome.min.css" type="text/css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>

<body ng-app="wishonaryApp">

<div class="wrapper">
   <header>
       <div class="container">
            <div class="row">
               <div class="logo"><a href="#"><img src="img/logo.png" alt="logo"/></a></div>
               <!--  nav  -->
               <nav class="animenu">
                  <label for="show-menu" class="show-menu"><img src="img/menu.png"/></label>
                  <input type="checkbox" id="show-menu" role="button">
                  <ul id="menu" class="pull-right">
                  <li><a href="#"><span>Investors</span></a></li>
                    <li><a href="#"><span>ENTREPRENEUR</span></a></li>
                      <li><a href="#"><span>News</span></a></li>
             
                      <li><div class="ser-tp">
                      <form>
                      <input type="text" placeholder="Search..."/>
                      <button class="sbt-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                      </form>
                      
                      </div></li>
                     
                     <li>
                        <div ng-controller="popupController"  >
                        <div id="flag"><a href="#" ng-click="isPopupVisble()">Login</a></div>
                      
                           <div ng-show="showPopup">
                              <div class="alertBg" data-ng-click="hidePrompt()"></div>
                              <div class="animated bounceInUp login-pp container-fluid">
                                
                                 <div class="row">
                                      <div class="col-sm-4 l1-bg">
                                          <div class="l-3"><img src="img/l1-logo.png"></div>
                                      </div>
                                      <div class="col-sm-8 l2-bg">
                                          <div ng-init="tab = 1" class="tab" >
                                    
                                    <div ng-show="tab === 1" class="lg-bg">
                                       <div class="login">
                                          <form  method="post" action="">
                                         
                                            
                                                <div class="log-in" >
                                                  <h1><span>Returning customer</span></h1>
                                                   <div class="fer"><input type="text" placeholder="Name" name="name" /></div>
                                                   <div class="fer"><input id="Passwd" name="Passwd" type="password"placeholder="Password" ></div>
                                                 
                                                   <div class="clearfix"></div>
                                                     <div>
    <input type="checkbox" id="test1" />
    <label for="test1">Remember me</label>
  </div>
  
 <div class="clearfix"></div>
  <p> <a class="fbtn"  ng-click="tab = 3"  ng-class="{active:tab===3}"><i class="frt">Forgot Password</i></a>	</p>
                                                   <input type="submit" value="login"/ class="smt lg"  >
                                                   <h2><img src="img/or.png"/></h2>
                                                   <div class="ssl">
                                                      <div class="s-ddr"><button class="fc"><i class="fa fa-facebook-f"></i></button></div>
                                                      <div class="s-ddr"><button class="g-p"><i class="fa fa-google-plus"></i></button></div>
                                                      <div class="s-ddr"> <button class="l-i"><i class="fa fa-twitter"></i></button >   
                                                        </div>
                                                   </div>
                                                   
                                                   <div class="tab-footer"><a class="fbtn" ng-click="tab = 2" ng-class="{active:tab===2}">
NEW CUSTOMER</a> </div>
                                                   
                                                   <div>
                                                   </div>
                                                </div>
                                           
                                          </form>
                                       </div>
                                    </div>
                                    <div ng-show="tab === 2" class="tab-ctr lg-bg-w">
                                       <div class="login">
                                          <form  method="post" action="">
                                             <div class="col-sm-12">
                                                <div class="log-in" >
                                                <h1><span>New customer</span></h1>
                                                    <div class="row">
                                                <div class="rd1">
                                                  <p>
                                                    <input type="radio" id="test5" name="radio-group" checked>
                                                    <label for="test5">Investors</label>
                                                  </p>
                                                  
                                                   <p>
                                                    <input type="radio" id="test4" name="radio-group">
                                                    <label for="test4">Entrepreneur</label>
                                                  </p>
                                                  <p>
                                                    <input type="radio" id="test3" name="radio-group">
                                                    <label for="test3"> Mentors</label>
                                                  </p>
                                                </div>
                                                    
                                                <div class="col-sm-6">
                                                    <div class="fer"><input type="text" placeholder="First name" name="name" /></div>
                                                </div>
                                                
                                                 <div class="col-sm-6"> 
                                                     <div class="fer"><input type="text" placeholder="Last name" name="last name" /></div>
                                                </div>
                                                <div class="clearfix"></div>
                                                
                                                <div class="col-sm-12"> 
                                                     <div class="fer"><input type="email" placeholder="Email" name="Email" /></div>
                                                </div>
                                                  <div class="clearfix"></div>
                                                  
                                              <div class="col-sm-12"> 
                                                   <div class="fer"><input id="Passwd" name="Passwd" type="password"placeholder="Password" ></div>
                                              </div>
                                              <div class="clearfix"></div>
                                              
                                              <div class="col-sm-12"> 
                                                   <div class="fer"><input id="Passwd" name="confirm Passwd" type="password" placeholder="Confirm Password" >
                                              </div></div>
                                             
                                              </div>
                                            
                                  
                                                   <div class="clearfix"></div>
                                                   <p>My registering your details you agree to our terms and condtions and privacy and cookie policay</p>
                                                     <div>
                                                      <input type="checkbox" id="test2" />
                                                        <label for="test2">i would like to recive 4fashion latest news </label>
                                                        </div>
                                                   <input type="submit" value="Create my account" class="smt lg"  >
                                                   <h2><img src="img/or.png"/></h2>
                                                   <div class="ssl">
                                                      <div class="s-ddr"><button class="fc"><i class="fa fa-facebook-f"></i></button></div>
                                                      <div class="s-ddr"><button class="g-p"><i class="fa fa-google-plus"></i></button></div>
                                                      <div class="s-ddr"> <button class="l-i"><i class="fa fa-twitter"></i></button > </div>
                                                   </div>
                                                   <div class="tab-footer"> <a class="fbtn"  ng-click="tab = 1"  ng-class="{active:tab===1}">
                                                   RETURNING CUSTOMER</a></div>
                                                  
                                                </div>
                                             </div>
                                          </form>
                                      
                                    </div>
                                    </div>
                                    <div ng-show="tab === 3">
                                       <div class="login">
                                          <form  method="post" action="">
                                             <div class="col-sm-12">
                                                <div class="log-in" >
                                                <h1><span>Forgot Password</span></h1>
                                                   <div class="fer">    <input type="text" placeholder="email" name="emial" class="form-control error"/></div>
                                                   <div class="fer"> <input id="Passwd" name="Passwd" type="password" class="form-control error"placeholder="Password" ></div>
                                                   <input type="submit" value="Send link"/ class="smt lg"  >
                                                   <div class="tab-footer"> <a class="fbtn"  ng-click="tab = 1"  ng-class="{active:tab===1}">
                                                   RETURNING CUSTOMER</a></div>
                                                   <div>
                                                   </div>
                                                </div>
                                             </div>
                                          </form>
                                       </div>
                                    </div>
                                    <button id="btnCanceRemove" class="cancel" tabindex="2" data-ng-click="hidePrompt()">X</button>
                                 </div>
                                      </div>
                                 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </nav>
               <!--  nav END  -->
            </div>
         </div>
   </header>
    
<!------------------------
header close
------------------------->  
<div class="clearfix"></div>  
<div class="container sft">
    <div class="row">
    <div class="all-section">
    <div ng-controller="popupController">
        <div class="profile-sidebar pd-00">
            <div class="all-lbox">
               <div class="ivst">
                   <h4>Investor</h4>
                   <h4>Mentor</h4>
                   <h4>Entrepreneur</h4>
               </div>
               
                <div class="clr-bg">
                     <div class="upf"><img src="img/autor.png"></div>
                     <div class="sc-nm">
                         <h3>Wishonary</h3>
                         <p class="sd">Lorem Ipsum is simply dummy text of the printing text printing text 
                         of the printing and typesetting industry. </p>
                     </div>
                     
                     <div class="cn-ml">
                         <button class="connect">Connect</button>
                         <button class="mail">Apply</button>
                     </div>
                     <div class="clearfix"></div> 
                     <p>520 Followers</p>
                     <div class="sc-ic">
                         <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                         <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                         <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                     </div>
                     
                      
                     <div class="pf-edt">
                          <a class="ic-edt" ng-click="isPopupVisble()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      </div>
                     
                 </div>
                
                 
                 <div class="b-item">
                     <ul>
                       <li><a href="user-profile.html"><label><img src="img/home.png"></label><span>Home</span></a></li>
                       <li>
                          <a href="company-detail.html"><label><img src="img/st-1.png"></label><span>Company Detail</span></a>
                       </li>
                       
                     </ul>
                 </div>
                 
             </div>
        </div>
        
        <div ng-show="showPopup">
             <div class="alertBg12" data-ng-click="hidePrompt()"></div>
             <div class="pp-bg"><div class="prf-pp">
                 <div class="container-fluid">
                     <div class="ep-ae">
                         <h4>Edit Profile</h4>
                         <div class="row">
                             <div class="col-sm-3">
                                 <div class="ed-mg">
                                      <img src="img/autor.png">
                                      <p class="file">
                                        <input type="file" name="file" id="file" />
                                        <label for="file">Choose File</label>
                                      </p>
                                 </div>
                             </div>
                             <div class="col-sm-9 adj-p">
                                 <form action="" method="get">
                                     <div class="row">
                                         <div class="col-sm-6 ed-frm">
                                            <input type="text" placeholder="First Name">
                                         </div>
                                         
                                          <div class="col-sm-6 ed-frm">
                                            <input type="text" placeholder="Last Name">
                                         </div>
                                         
                                         <div class="col-sm-6 ed-frm">
                                            <select>
                                                <option>Select Area</option>
                                                <option></option>
                                            </select>
                                         </div>
                                         
                                          <div class="col-sm-6 ed-frm">
                                           <textarea placeholder="Short Description"></textarea>
                                         </div>
                                         
                                         <div class="col-sm-6 ed-frm">
                                            <select>
                                                <option>Select</option>
                                                <option></option>
                                            </select>
                                         </div>
                                         
                                          <div class="col-sm-6 ed-frm">
                                            <input type="text" placeholder="Desination">
                                         </div>
                                         
                                         <div class="col-sm-6 ed-frm ad-url">
                                            <input type="text" placeholder="Twitter URL">
                                            <div class="url">Twitter</div>
                                         </div>
                                         
                                         <div class="col-sm-6 ed-frm ad-url">
                                            <input type="text" placeholder="Wbsite URL">
                                            <div class="url">Blog</div>
                                         </div>
                                         
                                         <div class="col-sm-6 ed-frm ad-url">
                                            <input type="text" placeholder="Linkedin URL">
                                            <div class="url">Linkedin</div>
                                         </div>
                                         
                                         <div class="col-sm-6 ed-frm ad-url">
                                            <input type="text" placeholder="Facebook URL">
                                            <div class="url">Facebook</div>
                                         </div>
                                         
                                         <div class="col-sm-12"><div class="btns btn-m">
                                           <input type="submit" value="Save">
                                           <button data-ng-click="hidePrompt()">Cancel</button>
                                         </div></div>  
                                           
                                     </div>
                                 </form>
                             </div>
                         </div>
                     </div>
                      <button id="btnCanceRemove" class="cancel cancel-ep" tabindex="2" data-ng-click="hidePrompt()">X</button>
                 </div>
                 </div>
                
             </div>
        </div>
        </div>
        
        <div class="detail-section">
           <div class="page-wrapper">
               <div ng-controller="popupController">
               <div class="col-sm-6">
                   <div class="bx">
                       <h4>FUND OVERVIEW</h4>
                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                       dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                       dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                       dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                       <div class="cd-edt">
                           <a class="ic-edt" ng-click="isPopupVisble()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      </div>
                   </div>
               </div> 
               
               <div ng-show="showPopup">
                       <div class="alertBg12" data-ng-click="hidePrompt()"></div>
                       <div class="pp-bg"><div class="prf-pp">
                         <div class="container-fluid">
                             <div class="ep-ae">
                             <h4>Fund Overview</h4>
                             <form>
                                <div class="row">
                                    <div class="col-sm-12 cd-frm"><textarea></textarea></div>
                                </div>
                                
                                <div class="btns btn-m">
                                    <input type="submit" value="Save">
                                    <button data-ng-click="hidePrompt()">Cancel</button>
                                </div>
                                
                             </form>
                             </div>
                         </div>
                         <button id="btnCanceRemove" class="cancel cancel-ep" tabindex="2" data-ng-click="hidePrompt()">X</button>
                       </div>
                       </div>
                   </div>
                  
               </div>
               
               <div ng-controller="popupController">
               <div class="col-sm-6">
                   <div class="bx">
                       <h4>FUND DETAILS</h4>
                       <div class="fd">
                           <div class="p-rw">
                               <label>Fund Type:</label>
                               <label>Venture Capital</label>
                           </div>
                           
                           <div class="c-rw">
                              <label>Industry Focus:</label>
                               <label>IT</label>
                           </div> 
                           
                           <div class="p-rw">
                               <label>Region Focus:</label>
                               <label>Tamil Nadu, India,</label>
                           </div>
                           
                           <div class="c-rw">
                              <label>Fund Size:</label>
                               <label>USD 150,000,000</label>
                           </div>
                           
                           <div class="p-rw">
                               <label>Min. LP Commitment:</label>
                               <label>100'000 - 500'000</label>
                           </div>
                           
                           
                           <div class="c-rw">
                              <label>Amount Per Investment:</label>
                               <label>USD 500,000—USD 5,000,000</label>
                           </div>
                           
                           <div class="p-rw">
                               <label>Ticket Size Specification:</label>
                               <label>US$ 500K to US $ 5 M</label>
                           </div>
                           
                           <div class="c-rw">
                              <label>Fund Fees:</label>
                               <label></label>
                           </div>
                           
                       </div>
                       
                       <div class="cd-edt">
                           <a class="ic-edt" ng-click="isPopupVisble()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      </div>
                   </div>
               </div>
               <div ng-show="showPopup">
                       <div class="alertBg12" data-ng-click="hidePrompt()"></div>
                       <div class="pp-bg"><div class="prf-pp">
                         <div class="container-fluid">
                             <div class="ep-ae">
                             <h4>Fund Deatil</h4>
                             <form>
                                <div class="row">
                                    <div class="col-sm-6 ed-frm">
                                        <label>Fund Type</label>
                                        <input type="text" placeholder="Fund Type">
                                    </div>
                                    
                                     <div class="col-sm-6 ed-frm">
                                        <label>Industry Focus</label>
                                        <input type="text" placeholder="Industry Focus">
                                    </div>
                                    
                                    <div class="col-sm-6 ed-frm">
                                       <label>Region Focus</label>
                                        <select>
                                            <option>Select</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-sm-6 ed-frm">
                                        <label>Fund Size</label>
                                        <input type="text" placeholder="Fund Size">
                                    </div>
                                    
                                    <div class="col-sm-6 ed-frm">
                                        <label>Min. LP Commitment</label>
                                         <select>
                                            <option>Select</option>
                                            <option>100'000 - 500'000</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-sm-6 ed-frm">
                                        <label>Amount Per Investment</label>
                                         <select>
                                            <option>Select</option>
                                            <option>USD 500,000—USD 5,000,000</option>
                                        </select>
                                    </div>
                                    
                                    
                                    <div class="col-sm-6 ed-frm">
                                        <label>Ticket Size Specification</label>
                                         <select>
                                            <option>Select</option>
                                            <option>US$ 500K to US $ 5 M</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-sm-6 ed-frm">
                                        <label>Fund Fees</label>
                                        <input type="text" placeholder="Fund Fees">
                                    </div>
                                    
                                </div>
                                
                                <div class="btns btn-m">
                                    <input type="submit" value="Save">
                                    <button data-ng-click="hidePrompt()">Cancel</button>
                                </div>
                                
                             </form>
                             </div>
                         </div>
                         <button id="btnCanceRemove" class="cancel cancel-ep" tabindex="2" data-ng-click="hidePrompt()">X</button>
                       </div>
                       </div>
                   </div>
               </div>
               
               
               <div ng-controller="popupController">
               <div class="col-sm-6 xs-m">
                   <div class="bx xs-pd">
                       <h4>DOCUMENTS</h4>
                       <div class="dcm">
                           <h5>Public Documents</h5>
                           <p><i class="fa fa-file-text" aria-hidden="true"></i>CHANDRASEKARAN_NATARAJAN_MOUNTGREEN IT SERVIC...</p>
                           <div class="acrt"><button class="ac-r">Access Requested</button></div>
                       </div>
                       
                        <div class="cd-edt">
                           <a class="ic-edt" ng-click="isPopupVisble()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      </div>
                       
                   </div>
               </div>
               <div ng-show="showPopup">
                       <div class="alertBg12" data-ng-click="hidePrompt()"></div>
                       <div class="pp-bg"><div class="prf-pp">
                         <div class="container-fluid">
                             <div class="ep-ae">
                             <h4>Documents</h4>
                             <form>
                                <div class="row">
                                    <div class="col-sm-12 cd-frm">
                                        <div class="dc">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
    <span class="btn btn-default btn-file"><span>Choose file</span><input type="file" /></span>
    <span class="fileinput-filename"></span><span class="fileinput-new">No file chosen</span>
</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="btns btn-m">
                                    <input type="submit" value="Save">
                                    <button data-ng-click="hidePrompt()">Cancel</button>
                                </div>
                                
                             </form>
                             </div>
                         </div>
                         <button id="btnCanceRemove" class="cancel cancel-ep" tabindex="2" data-ng-click="hidePrompt()">X</button>
                       </div>
                       </div>
                   </div>
               </div>
               
               <div class="col-sm-6 xs-m">
                   <div class="bx xs-pd">
                       <h4>Selection Right Area</h4>
                       <div class="dcm">
                           <h5>Public Documents</h5>
                           <p><i class="fa fa-file-text" aria-hidden="true"></i>CHANDRASEKARAN_NATARAJAN_MOUNTGREEN IT SERVIC...</p>
                           <div class="acrt"><button class="ac-r">Access Requested</button></div>
                       </div>
                   </div>
               </div>
              
               <div class="col-sm-6 d-mb">
                           <div class="cl-bg">
                               <div class="wh-bg">
                                    <div class="nm-d">
                                         <div class="n-mg"><img src="img/autor.png"></div>
                                         <div class="n-des">
                                             <h3>Robert James</h3>
                                             <span><i class="fa fa-map-marker" aria-hidden="true"></i> New York, US</span>
                                             <p>400 Wishnoaries</p>
                                         </div>
                                    </div>
                                    
                                    <div class="social">
                                        <div class="ics">
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </div>
                                        
                                        <div class="vmp">
                                            <button>Visit My Portfolio</button>
                                        </div>
                                    </div>
                                    
                                    <div class="sh-d">
                                        <h4>About Me</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing text printing text of the printing and typesetting industry.
                                        the printing.</p>
                                    </div>
                                    
                                    <div class="thr-btn">
                                       <a>Mentor</a>
                                       <a>Investor</a>
                                       <a>Entrepreneur</a>
                                    </div>
                                    
                               </div>
                           </div>
                       </div>
               <div class="col-sm-6 d-mb">
                           <div class="cl-bg">
                               <div class="wh-bg">
                                    <div class="nm-d">
                                         <div class="n-mg"><img src="img/autor.png"></div>
                                         <div class="n-des">
                                             <h3>Robert James</h3>
                                             <span><i class="fa fa-map-marker" aria-hidden="true"></i> New York, US</span>
                                             <p>400 Wishnoaries</p>
                                         </div>
                                    </div>
                                    
                                    <div class="social">
                                        <div class="ics">
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </div>
                                        
                                        <div class="vmp">
                                            <button>Visit My Portfolio</button>
                                        </div>
                                    </div>
                                    
                                    <div class="sh-d">
                                        <h4>About Me</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing text printing text of the printing and typesetting industry.
                                        the printing.</p>
                                    </div>
                                    
                                    <div class="thr-btn">
                                       <a>Mentor</a>
                                       <a>Investor</a>
                                       <a>Entrepreneur</a>
                                    </div>
                                    
                               </div>
                           </div>
                       </div>
                       
                       
                       
                       
                       
                 
           </div>
           
           
           
        </div>
    </div>    
        
    </div>
</div>
<!------------------------
header close
------------------------->    
</div>

 <script src="js/jquery.min.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/controller.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/file-upload.js"></script>
<script src="js/angular-simple-accordion.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".menu-btn").click(function(event){
    event.preventDefault();
    $(".sidebar-panel").toggleClass("menushow");
  });
});
</script>

<script type="text/javascript">
 $('.Show').click(function() {
    $('#target').show(500);
    $('.Show').hide(0);
    $('.Hide').show(0);
});
$('.Hide').click(function() {
    $('#target').hide(500);
    $('.Show').show(0);
    $('.Hide').hide(0);
});
</script>

</body>
</html>

