<div class="ppc" ng-click="isPopupVisble= true;">Linkedin</div>
         <div ng-show="isPopupVisble">
             <div class="alertBg12" ng-click="isPopupVisble= false;"></div>
             <div class="pp-bg">
                 <div class="prf-pp lkd-n">
                     <div class="p-tpb">Send Vikas Kumar Sharma a message</div>
                  <form>
                      <div class="container-fluid">
                          <div class="snd-to">
                              <label><strong>To:</strong></label>
                              <label>Vikas Kumar Sharma</label>
                          </div>
                          
                           <div class="snd-to ed-frm">
                              <label>Subject:</label>
                              <input type="text">
                          </div>
                          
                          <div class="snd-to ed-frm">
                              <textarea></textarea>
                          </div>
                          
                           <div class="btns">
                                <input type="submit" value="Send Message">
                                <button  ng-click="isPopupVisble= false;">Cancel</button>
                           </div>
                           
                      </div>
                  </form>
                  </div>
             </div>
          </div>